<div class="row">
  <div class="col-md-12 header">User Management App</div>
</div>
<div class="row">
  <div class="col-md-3 left">
    <form [formGroup]="this.usersService.form" (ngSubmit)=onSubmit()>
      <input type="hidden" formControlName="$id">
      <div class="form-group">
        <label>First Name</label>
        <input formControlName="firstName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.firstName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.lastName.errors}">          
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
            This field is required.
          </div>
      </div>
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.city.errors}">        
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
            This field is required.
          </div>
      </div>
      <div class="form-group">      
        <label>Country</label>
        <input formControlName="country" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.country.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
            This field is required.
          </div>
      </div>
      <div class="form-group">
        <label>Sex</label>
        <select formControlName="sex" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.sex.errors}">
          <option>Female</option>
          <option>Male</option>
        </select>
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
      <div class="alert alert-info" *ngIf="successInfo">
        Submitted successfully.
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <app-users-list></app-users-list>
  </div>
</div>