<ul>
  <li><strong>First Name</strong>: {{firstName}}</li>
  <li><strong>Last Name</strong>: {{lastName}}</li>
  <li><strong>City</strong>: {{city}}</li>
  <li><strong>Country</strong>: {{country}}</li>
  <li><strong>Sex</strong>: {{sex}}</li>
</ul>
<app-weather [userCity]="city" [userCountry]="country"></app-weather>
<button class="btn btn-dark closeWindow" (click)="closeModal()">Close window</button>