<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Sex</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of usersArray">
      <tr>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.sex }}</td>
        <td>
          <button class="btn btn-secondary" (click)="openModal(user)">Profile</button>
        </td>
        <td>
          <button class="btn btn-dark" (click)="usersService.populateForm(user)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(user.$id)">Delete</button>        
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="isDeleted">
  Deleted successfully.
</div>