/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{background:black;}
.header{color:#fff;text-align:center;font-weight:bold;font-size:25px;line-height:100px;}
.left{background:#212529}
.form-group{padding:10px 0 0 0;}
.form-group label{color:#fff;}